* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-white: #fff;
  --color-black: #272a31;
  --color-light-pitch: #fdf2e9;
  --color-dark-pitch: #e67e22;
  --color-dark: #cf711f;
  --color-light: #fae5d3;
  --color-gray-light: #d3d3d3;
  --color-gray: #adadad;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  position: relative;
  background-color: var(--color-light-pitch);
}

a {
  color: var(--color-black);
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  cursor: pointer;
}

/* -------------------------------Styling the Navigation Bar-------------------------------- */
header {
  border: 1px solid var(--color-dark-pitch);
  border-radius: 4px;
  position: fixed;
  width: 100%;
  top: 0;
}

nav {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: var(--color-light);
  padding: 1% 2%;
  color: var(--color-black);
  font-weight: 600;
}

.navLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* -------------------------------Styling the Home Page-------------------------------- */
main {
  padding: 60px 0;
}

.mealsListContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
  max-width: 100%;
  margin: 0 auto;
  padding: 2%;
}

.mealCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border: 1px solid var(--color-dark-pitch);
  padding: 2%;
  border-radius: 8px;
}

.mealCard img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 4px;
}

.mealDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.mealHeading {
  font-size: 16px;
}

.commentBtn {
  padding: 2% 3%;
  align-self: center;
  color: var(--color-white);
  font-weight: 600;
  background-color: var(--color-dark-pitch);
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
}

.commentBtn:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}

/* -------------------------------Styling the Footer-------------------------------- */
footer {
  width: 100%;
  border: 1px solid var(--color-dark-pitch);
  position: fixed;
  bottom: 0;
  border-radius: 4px;
}

.footer-div1 {
  padding: 1%;
  background-color: var(--color-light);
}

.footer-div2 {
  padding: 1%;
  background-color: var(--color-light-pitch);
}